<!-- Section 1 -->
<div class="row align-items-center">
  <div class="col-12">
    <div class="jumbotron">
      <div class="text-center">
        <h2 class="display-4 header-font text-uppercase">Creative Digital <br />Solutions</h2>
        <p class="lead">Proin iaculis purus consequat sem cure</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">View Portfolio</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Section 1 : Ends -->

<!-- Section 2 -->
<div class="row align-items-center">
  <div class="col-12 text-center">
    <h3 class="display-4">PROFESSIONAL SERVICES</h3>
    <p class="lead">Proin iaculis purus consequat sem cure</p>
  </div>

  <div class="col-12">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card border-0 text-center">
          <img class="card-img-top" src="http://placehold.it/65x65" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Beautiful Designs</h4>
            <p class="card-text">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card border-0 text-center">
          <img class="card-img-top" src="http://placehold.it/65x65" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Responsive Web</h4>
            <p class="card-text">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card border-0 text-center">
          <img class="card-img-top" src="http://placehold.it/65x65" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Marketing Tools</h4>
            <p class="card-text">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- Section 2 : Ends -->

<!-- Section 3 -->
<div class="row align-items-center">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-4 col-md-4 hidden-sm-down">
        <div style="background-url: (http://placehold.it/407x482)"></div>
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="text-justify">
          <div class="jumbotron">
            <h3 class="display-3">Just relax <span>&</span><br />
              Let us do the heavy lifting
            </h3>
            <p class="lead">
              TProin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>

            <div class="d-flex flex-column">
              <div class="p-2">
                <span class="custom-list-icon"></span> Initial Setup & Customization
              </div>
              <div class="p-2">
                <span class="custom-list-icon"></span> Regular Updates
              </div>
              <div class="p-2">
                <span class="custom-list-icon"></span> Round The Clock Support
              </div>
            </div>
            <br />
            <div>
              <button type="button" class="btn btn-secondary rounded">
                Learn More
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Section 3 : Ends -->


<!-- Section 4 -->
<div class="row align-items-center">
<div class="col-12">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h3>Latest project</h3>
        <h6 class="lead">Proin iaculis purus consequat sem cure</h6>
        <br />
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-11 col-xs-11">

      <div class="d-flex flex-column justify-content-around col-lg-8 col-md-8 col-sm-10 col-xs-10">
        <div class="d-flex flex-column justify-content-start">
          <h4>Developing a frame</h4>
          <br />
          <p class="lead">
            Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
          </p>
          <br />
        </div>
        <div class="d-flex flex-column">
          <div class="p-2">
            <span class="custom-list-icon"></span>
            <h5>E-Commerce Ready</h5>
            <p>Proin iaculis purus consequat sem cure digni ssim.</p>
          </div>
          <div class="p-2">
            <span class="custom-list-icon"></span>
            <h5>Powerful SEO Features</h5>
            <p>Proin iaculis purus consequat sem cure digni ssim.</p>
          </div>
          <div class="p-2">
            <span class="custom-list-icon"></span>
            <h5>Secure Encryption</h5>
            <p>Proin iaculis purus consequat sem cure digni ssim.</p>
          </div>
          <br />
        </div>
        <div>
          <p class="lead">
            Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in
          </p>
          <button type="button" class="btn btn-link btn-success">Link</button>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
<!-- Section 4 : Ends -->

<!-- Section 5 -->
<div class="row align-items-center">
  <div class="col-12 text-center">
    <h3>CULTURE & VALUES</h3>
    <p class="lead">Proin iaculis purus consequat sem cure</p>
  </div>

  <div class="col-12">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card border-0 text-center">
          <img class="card-img-top" src="http://placehold.it/65x65" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Work-life balance</h4>
            <p class="card-text">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card border-0 text-center">
          <img class="card-img-top" src="http://placehold.it/65x65" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Quality over quantity</h4>
            <p class="card-text">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card border-0 text-center">
          <img class="card-img-top" src="http://placehold.it/65x65" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Deliver Excellence</h4>
            <p class="card-text">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- Section 5 : Ends -->


<!-- Section 6 -->
<div class="row">
  <div class="col-12 text-center">
    <h3>Our awesome clients</h3>
    <br />
    <p class="lead">
      Proin iaculis purus consequat sem cure.
    </p>
  </div>

  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 offset-lg-1 offset-md-1 text-center">
        <img src="http://placehold.it/160x162" alt="customer" class="rounded-circle">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">
        <p class="text-center">
          Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus
          <br />
          <span>Jamie Richardson, Founder of Cocoa Media</span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center push-lg-3 push-md-3">
        <img src="http://placehold.it/160x162" alt="customer" class="rounded-circle">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12  text-center pull-lg-2 pull-md-2">
        <p class="text-center">
          Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus
          <br />
          <span>Kim Thompson, Founder of Rainel</span>
        </p>
      </div>


    </div>
  </div>

</div>
<!-- Section 6: Ends -->
