<!-- Section 1 -->
<div class="row align-items-center">
  <div class="col-12">
    <div class="jumbotron header-img section-1 text-white">
      <div class="text-center">
        <h2 class="display-4 header-font text-uppercase">Creative Digital <br />Solutions</h2>
        <br />
        <p>Proin iaculis purus consequat sem cure</p>
        <br />
        <p>
          <a class="btn btn-success btn-sm success-custom-bg round-edges" href="#" role="button">
            <span class="text-uppercase">View Portfolio</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Section 1 : Ends -->

<!-- Section 2 -->
<br />
<br />
<div class="row align-items-center">
  <div class="col-12 text-center">
    <h3 class="header-font text-uppercase">PROFESSIONAL SERVICES</h3>
    <p class="text-muted">Proin iaculis purus consequat sem cure</p>
    <br />
  </div>

  <div class="col-12 ">
    <div class="row justify-content-center mx-md-5 px-md-5">

      <div class="col-xs-12 col-md-4 text-center">
        <div class="d-flex flex-column justify-content-center">
          <div class="p2 mb-4">
            <img class="card-img-top" src="http://res.cloudinary.com/somilkumar/image/upload/q_auto/v1490619056/heartIcon_agyquv.png" alt="Card image cap">
          </div>
          <div class="p2">
            <h5 class="card-title header-font text-uppercase">Beautiful Designs</h5>
          </div>
          <div class="p2">
            <p class="text-muted">
              <small>
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
              </small>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 text-center">
        <div class="d-flex flex-column justify-content-center">
          <div class="p2 mb-4">
            <img class="card-img-top" src="http://res.cloudinary.com/somilkumar/image/upload/q_auto/v1490619056/mobileIcon_bfujng.png" alt="Card image cap">
          </div>
          <div class="p2">
            <h5 class="card-title header-font text-uppercase">Responsive Web</h5>
          </div>
          <div class="p2">
            <p class="text-muted">
              <small>
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
              </small>
            </p>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 text-center">
        <div class="d-flex flex-column justify-content-center">
          <div class="p2 mb-4">
            <img class="card-img-top" src="http://res.cloudinary.com/somilkumar/image/upload/q_auto/v1490619056/graphIcon2_n3aqyw.png" alt="Card image cap">
          </div>
          <div class="p2">
            <h5 class="card-title header-font text-uppercase">Marketing tools</h5>
          </div>
          <div class="p2">
            <p class="text-muted">
              <small>
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br />
<br />
<!-- Section 2 : Ends -->

<!-- Section 3 -->
<div class="row align-items-center section-3-main">
  <div class="col-12">
    <div class="row no-gutters">

      <div class="col-lg-4 col-md-4 hidden-sm-down">
        <img src="http://placehold.it/426x482)">
      </div>

      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 section-3">
        <div class="text-left text-white pl-2">
          <div class="mt-5 section-3-content">
            <div class="w-75 pl-4 ml-4">
              <h2 class="header-font text-uppercase">Just relax <span class="text-success">&</span><br />
                Let us do the heavy lifting
              </h2>
              <p>
                Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
              </p>
              <div class="d-flex flex-column">
                <div class="p-2">
                  <i class="fa fa-check-circle-o fa-2x mr-2"></i>Initial Setup & Customization
                </div>
                <div class="p-2">
                  <i class="fa fa-check-circle-o fa-2x mr-2"></i> Regular Updates
                </div>
                <div class="p-2">
                  <i class="fa fa-check-circle-o fa-2x mr-2"></i> Round The Clock Support
                </div>
              </div>
              <br />
              <div>
                <button type="button" class="btn btn-success success-custom-bg round-edges">
                  <span class="text-uppercase"><small>Learn More</small></span>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br />
<br />
<!-- Section 3 : Ends -->


<!-- Section 4 -->
<div class="row align-items-center section-4-bg">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h3 class="header-font text-uppercase">Latest project</h3>
          <h6 class="text-muted">Proin iaculis purus consequat sem cure</h6>
          <br />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-sm-11 col-xs-11">

        <div class="d-flex flex-column justify-content-around col-lg-8 col-md-8 col-sm-10 col-xs-10">
          <div class="d-flex flex-column justify-content-start">
            <h4 class="header-font text-uppercase">Developing a frame</h4>
            <br />
            <p class="text-muted">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
            <br />
          </div>
          <div class="d-flex flex-column">

            <div class="p-2 d-flex flex-row">
              <span class="section-4-icon section-4-icon-1"></span>
              <div class="flex-column pl-3">
                <h5 class="text-weight-bold">E-Commerce Ready</h5>
                <p class="text-muted w-75">Proin iaculis purus consequat sem cure digni ssim.</p>
              </div>
            </div>

            <div class="p-2 d-flex flex-row">
              <span class="section-4-icon section-4-icon-2"></span>
              <div class="flex-column pl-3">
                <h5 class="text-weight-bold">Powerful SEO Features</h5>
                <p class="text-muted w-75">Proin iaculis purus consequat sem cure digni ssim.</p>
              </div>
            </div>

            <div class="p-2 d-flex flex-row">
              <span class="section-4-icon section-4-icon-3"></span>
              <div class="flex-column pl-3">
                <h5 class="text-weight-bold">Secure Encryption</h5>
                <p class="text-muted w-75">Proin iaculis purus consequat sem cure digni ssim.</p>
              </div>
            </div>

            <br />
            <br />
          </div>
          <div>
            <p class="text-muted">
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus posuere odio in
            </p>
            <button type="button" class="btn btn-link btn-success mx-0 my-0 px-0 py-0">
              <span class="text-uppercase text-success">View Details</span>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<br />
<!-- Section 4 : Ends -->

<!-- Section 5 -->
<div class="row align-items-center section-5-bg">

  <div class="col-12 text-center">
    <br />
    <br />
    <h3 class="header-font text-uppercase">CULTURE & VALUES</h3>
    <p class="text-muted">Proin iaculis purus consequat sem cure</p>
  </div>

  <div class="col-12">
    <br />
    <br />
    <div class="row justify-content-center mx-md-5 px-md-5">

      <div class="col-xs-12 col-md-4 text-center section-5-item">
        <div class="d-flex flex-column justify-content-center section-5-item">
          <div class="p2 mb-4">
            <div class="d-flex flex-row justify-content-center">
              <span class="section-5-icon section-5-icon-1"></span>
            </div>

          </div>
          <div class="p2">
            <h5 class="card-title header-font text-uppercase">Work-life balance</h5>
          </div>
          <div class="p2">
            <p class="text-muted">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="d-flex flex-column justify-content-center">
          <div class="p2 mb-4">
            <div class="d-flex flex-row justify-content-center">
              <span class="section-5-icon section-5-icon-2"></span>
            </div>
          </div>
          <div class="p2">
            <h5 class="card-title header-font text-uppercase">Work-life balance</h5>
          </div>
          <div class="p2">
            <p class="text-muted">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 text-center">
        <div class="d-flex flex-column justify-content-center">
          <div class="p2 mb-4">
            <div class="d-flex flex-row justify-content-center">
              <span class="section-5-icon section-5-icon-3"></span>
            </div>
          </div>
          <div class="p2">
            <h5 class="card-title header-font text-uppercase">Work-life balance</h5>
          </div>
          <div class="p2">
            <p class="text-muted">
              Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>

</div>
<!-- Section 5 : Ends -->


<!-- Section 6 -->
<br />
<br />
<div class="row">
  <div class="col-12 text-center">
    <h3 class="header-font text-uppercase">Our awesome clients</h3>
    <p class="text-muted">
      Proin iaculis purus consequat sem cure.
    </p>
    <br />
  </div>

  <div class="col-12">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center">
        <img src="http://res.cloudinary.com/somilkumar/image/upload/q_auto/v1490607277/templateImage0_adhwoj.jpg" alt="customer" class="rounded-circle customer-img">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
        <div class="d-flex align-items-end mt-md-3 pt-md-3 customer-feedback">
          <p class="text-center text-muted">
            "Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus"
            <span class="text-success"><br />
              - Jamie Richardson, Founder of Cocoa Media
            </span>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="col-12">
    <br />
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center push-lg-4 push-md-4">
        <img src="http://res.cloudinary.com/somilkumar/image/upload/v1490607277/templateImage1_axe98e.jpg" alt="customer" class="rounded-circle customer-img">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center pull-lg-2 pull-md-2">
        <div class="d-flex align-items-end mt-md-3 pt-md-3 customer-feedback">
          <p class="text-center text-muted">
            "Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit aenean rhoncus"
            <span class="text-success"><br />
              - Kim Thompson, Founder of Rainel
            </span>
          </p>
        </div>
      </div>
    </div>
    <br />
    <br />
  </div>

</div>
<!-- Section 6: Ends -->

<!-- Section 7:  -->
<div class="row align-items-center bg-success">
  <div class="col-12">

    <div class="container">
      <br />
      <br />
      <br />
      <div class="d-flex align-items-center flex-column">
        <h3 class="p2 header-font text-uppercase text-white">
          Ready to talk about your next project?
        </h3>
        <br />
        <button type="button" class="btn btn-outline-secondary">
          <span class="text-uppercase text-white">Contact us</span>
        </button>
      </div>
      <br />
      <br />
      <br />
    </div>
  </div>
</div>
<!-- Section 7: Ends -->

<!-- Section 8  -->
<div class="row">
  <div class="col-12">
    <br />
    <br />
    <div class="d-flex flex-md-row flex-column flex-sm-column justify-content-center align-items-center">
      <div class="p2 my-3">
        <img src="http://res.cloudinary.com/somilkumar/image/upload/q_auto/v1490607276/templateImage2_vh3akh.png" class="w-75" />
      </div>
      <div class="p2 my-3">
        <img src="http://res.cloudinary.com/somilkumar/image/upload/q_auto/v1490607276/templateImage7_o4pzqv.png" class="w-75" />
      </div>
      <div class="p2 my-3">
        <img src="http://res.cloudinary.com/somilkumar/image/upload/a_auto/v1490607276/templateImage3_u1o3to.png" class="w-75" />
      </div>
      <div class="p2 my-3">
        <img src="http://res.cloudinary.com/somilkumar/image/upload/q_auto/v1490607277/templateImage9_xkay7h.png" class="w-75" />
      </div>
    </div>
    <br />
    <br />
  </div>
</div>
<!-- Section 8: Ends  -->

<!-- Section 9  -->
<div class="row">
  <div class="col-12 bg-inverse text-white">
    <br />
    <br />
    <br />
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="d-flex  flex-column align-items-start">
          <h4 class="header-font text-uppercase ml-3">Contact Us</h4>
          <br />
          <p>
            <span><i class="fa fa-map-marker fa-2x mr-2"></i></span>
            <strong>55 Main St.Toronto, CNM1H3A5</strong>
          </p>
          <p>
            <span><i class="fa fa-mobile fa-2x mr-2"></i></span>
            <strong>(416) 555-5252</strong>
          </p>
          <p>
            <span><i class="fa fa-envelope-o fa-2x mr-2"></i></span>
            <strong>hello@treehouse.com</strong>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="d-flex  flex-column align-items-start">
          <h4 class="header-font text-uppercase ml-3">Latets Posts</h4>
          <br />
          <div class="p2">
            <div class="d-flex flex-row justify-content-around">
              <span><i class="fa fa-id-card-o fa-2x mr-2"></i></span>
              <p>
                <strong>Made With Love In Toronto</strong>
              </p>
            </div>
          </div>
          <div class="p2">
            <div class="d-flex flex-row justify-content-around">
              <span><i class="fa fa-picture-o fa-2x mr-2"></i></span>
              <p>
                <strong>Starup News & Emerging Tech</strong>
              </p>
            </div>
          </div>
          <div class="p2">
            <div class="d-flex flex-row justify-content-around">
              <span><i class="fa fa-id-card-o fa-2x mr-2"></i></span>
              <p>
                <strong>Bitcoin Will Soon Rule The World</strong>
              </p>
            </div>
          </div>
          <div class="p2">
            <div class="d-flex flex-row justify-content-around">
              <span><i class="fa fa-id-card-o fa-2x mr-2"></i></span>
              <p>
                <strong>Wearable Technology On The Rise</strong>
              </p>
            </div>
          </div>
          <div class="p2">
            <div class="d-flex flex-row justify-content-around">
              <span><i class="fa fa-caret-right fa-2x mr-2"></i></span>
              <p>
                <strong>Learn Web Design in 30 Days!</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3">
        <div class="d-flex  flex-column align-items-start">
          <h4 class="header-font text-uppercase ml-3">Latest Tweets</h4>
          <br />

          <div class="p2">
            <div class="d-flex flex-row justify-content-around">
              <span><i class="fa fa-twitter fa-2x mr-2"></i></span>
              <div class="flex flex-column section-9-list">
                <li><strong>Confucius: Life is really simple, but we insist on making it complicated.</strong></li>
                <li>#famousquotes</li>
                <li>8 mins ago</li>
              </div>
            </div>
          </div>
          <br />

          <div class="p2">
            <div class="d-flex flex-row justify-content-around">
              <span><i class="fa fa-twitter fa-2x mr-2"></i></span>
              <div class="flex flex-column section-9-list">
                <li><strong>Grab the Free Treehouse web template at FreebiesXpress!.</strong></li>
                <li>#famsquotes</li>
                <li>8 mins ago</li>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <br />
    <br />
    <br />
  </div>
</div>
<!-- Section 9: Ends  -->
