<div class="row justify-content-center">
  <div class="col-xs-6">
    <br />
    <br />
    <div class="d-flex flex-column text-center">
      <div class="p2">
          <h1 class="text-uppercase danger">Oops !</h1>
      </div>
      <div class="p2"><br /></div>
      <div class="p2">
          <h1 class="text-danger">404 Page cannot be found</h1>
      </div>
      <div class="p2"><br /></div>
      <div class="p2">
        <i class="fa fa-exclamation-circle fa-spin fa-5x fa-fw text-danger"></i>
      </div>

    </div>
  </div>
</div>
